In [1]:
import pandas as pd
import numpy as np

# Create a dummy DataFrame with financial indicators
data = {
    'Close': [150, 152, 151, 153, 155],
    'MA_20': [148, 149, 150, 151, 152],
    'MA_50': [146, 147, 148, 149, 150],
    'RSI': [55, 60, 65, 58, 62],
    'Bollinger_Upper': [160, 161, 162, 163, 164],
    'Bollinger_Lower': [140, 141, 142, 143, 144],
    'Volume': [10000, 15000, 20000, 18000, 17000],
    'Target': [151, 153, 152, 155, 156]  # Future closing price as the target
}

df = pd.DataFrame(data)

# Correlation matrix
corr_matrix = df.corr()

# Selecting features with high correlation to the target
important_features = corr_matrix['Target'].sort_values(ascending=False)
print("Correlation of features with Target (Future Price):")
print(important_features)

Correlation of features with Target (Future Price):
Target             1.000000
Close              0.977754
MA_20              0.914991
MA_50              0.914991
Bollinger_Upper    0.914991
Bollinger_Lower    0.914991
Volume             0.474912
RSI                0.221626
Name: Target, dtype: float64

In [3]:
df

   Close  MA_20  MA_50  RSI  Bollinger_Upper  Bollinger_Lower  Volume  Target
0    150    148    146   55              160              140   10000     151
1    152    149    147   60              161              141   15000     153
2    151    150    148   65              162              142   20000     152
3    153    151    149   58              163              143   18000     155
4    155    152    150   62              164              144   17000     156

In [4]:
important_features

Target             1.000000
Close              0.977754
MA_20              0.914991
MA_50              0.914991
Bollinger_Upper    0.914991
Bollinger_Lower    0.914991
Volume             0.474912
RSI                0.221626
Name: Target, dtype: float64

In [5]:
import pandas as pd

# Create a dummy DataFrame with stock price data
data = {
    'Date': ['2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04', '2023-09-05',
             '2023-09-06', '2023-09-07', '2023-09-08', '2023-09-09', '2023-09-10'],
    'Close': [150.25, 151.30, 152.10, 151.50, 153.00, 154.20, 155.10, 154.50, 156.00, 157.25]
}

df = pd.DataFrame(data)

# Ensure that the 'Date' column is treated as datetime
df['Date'] = pd.to_datetime(df['Date'])

# Set 'Date' as index
df.set_index('Date', inplace=True)

# Step 1: Calculate the 20-Day Moving Average
df['20_day_MA'] = df['Close'].rolling(window=20).mean()

# Step 2: Calculate the Daily Return
df['Daily_Return'] = df['Close'].pct_change() * 100  # Percentage change in price

# Display the DataFrame with the calculated features
print(df)

             Close  20_day_MA  Daily_Return
Date
2023-09-01  150.25        NaN           NaN
2023-09-02  151.30        NaN      0.698835
2023-09-03  152.10        NaN      0.528751
2023-09-04  151.50        NaN     -0.394477
2023-09-05  153.00        NaN      0.990099
2023-09-06  154.20        NaN      0.784314
2023-09-07  155.10        NaN      0.583658
2023-09-08  154.50        NaN     -0.386847
2023-09-09  156.00        NaN      0.970874
2023-09-10  157.25        NaN      0.801282

In [6]:
df

             Close  20_day_MA  Daily_Return
Date
2023-09-01  150.25        NaN           NaN
2023-09-02  151.30        NaN      0.698835
2023-09-03  152.10        NaN      0.528751
2023-09-04  151.50        NaN     -0.394477
2023-09-05  153.00        NaN      0.990099
2023-09-06  154.20        NaN      0.784314
2023-09-07  155.10        NaN      0.583658
2023-09-08  154.50        NaN     -0.386847
2023-09-09  156.00        NaN      0.970874
2023-09-10  157.25        NaN      0.801282